@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebApplication</h1>
    <p class="lead">Plantilla Principal para Proyectos ASP.NET-MVC que incluye recientes versiones de dependencias.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Continuar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CRUD</h2>
        <p>
            Create / Read / Update / Delete. <br>
            Mantenimiento Basico de Tabla incluyendo campos de tipos de datos numericos, texto y fecha. <br>
            Incluyendo controles input, dropdownlist, picklist, date-input, option.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRUD Master/Details</h2>
        <p>Mantenimiento de Tablas relacionadas Master/Detail.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Filter Nivel Pro</h2>
        <p>Filtro de Busqueda aplicando LINQ con un WHERE dinamico.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver mas &raquo;</a></p>
    </div>
</div>